* {
    font-size: 16;
    box-sizing: border-box;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #7a7a83;
}

::-webkit-scrollbar {
    display: none;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.version {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    margin: 10px;
}

body {
    display: flex;
    justify-content: center;
}

.home-body {
    background: #000000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding-top: 30px;
}

.search {
    background: none;
    border: solid 1px #27272a;
    border-radius: 5px;
    color: #27272a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 40px;
    width: 50%;
    overflow: hidden;
}

.clear-search {
    background: #000000;
    border: 1px solid #27272a;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    height: 40px;
    width: 50px;
    margin-right: 10px;
    transition: ease-in-out 0.3s;
}

.clear-search:hover {
    background: #27272a;
    cursor: pointer;
}

.clear-search:active {
    background: rgb(80, 80, 80);
    cursor: pointer;
}

input {
    background: none;
    border: none;
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 40px;
    width: 100%;
}



.object {
    width: 60%;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    justify-content: center;
    transition: ease-in-out 0.3s;
    margin-top: 20px;
}

.search-btn {
    background: #000000;
    border: 1px solid #27272a;
    font-size: 16px;
    text-align: center;
    margin-left: 10px;
    padding: 0;
    height: 40px;
    border-radius: 5px;
    width: 10%;
    padding-left: 10px;
    padding-right: 10px;
    min-width: fit-content;
    transition: ease-in-out 0.3s;
}

.search-btn:hover {
    background: #27272a;
    cursor: pointer;
}

.search-btn:active {
    background: rgb(80, 80, 80);
    cursor: pointer;
}

.search-line {
    width: 0px;
    height: 1px;
    background: #c9c9c9;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

input:focus {
    outline: none;
}

input:focus+.search-line {
    width: 100%;
}



.search-results {
    opacity: 0;
    display: grid;
    height: 0px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    max-width: 1100px;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: ease-in-out 0.5s;
}

.search-results.active-search-results {
    position: relative;
    bottom: 0px;
    opacity: 1;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    /* Adjust the minimum and maximum column width as needed */
    transition: ease-in-out 0.5s;
    max-width: 1100px;
    height: 100%;
}

.no-results h2 {
    opacity: 0;
    color: white;
    transition: ease-in-out .3s;
}

.no-results.active h2 {
    opacity: 1;
}

.movie-card {
    background: #000000;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: end;
    font-weight: 1000;
    border: solid 1px #27272a;
    text-wrap: wrap;
    padding: 10px;
    width: 185px;
    height: 260px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding-bottom: 10px;

}

.blur {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 9px;
    width: 100%;
    height: 100%;
    transition: ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.681);
}

.movie-card.active {
    animation: item-appear 1s ease-in-out forwards;
}

@keyframes item-appear {
    from {
        opacity: 0;
        transform: translateY(2px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title-holder-tv {
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    background: #292929;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
    border-radius: 5px;
}

.title-holder {
    display: flex;
    flex-direction: column;
    border: solid 1px #27272a;
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    border-radius: 0 0 5px 5px;
}

.title-tv {
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 20px;
    font-size: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    height: 20px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL'1,
        'wght'1000,
        'GRAD'1000,
        'opsz'100
}


.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    scale: 2;
    opacity: 0;
    transition: ease-in-out 0.3s;
    ;
}

.movie-card:hover .play-button {
    opacity: 1;
}

.play-button:hover {
    color: #fff;
}

.movie-card:hover .blur {
    cursor: pointer;
    opacity: 1;
}

.movie-card:hover *{
    cursor: pointer;
}

.title {
    display: flex;
    z-index: 1;
    text-align: left;
    font-size: 16px;
    color: white;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.year {
    display: block;
    z-index: 1;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

.player {
    height: 100vh;
    width: 800px;
    padding-top: 60px;
    padding-right: 20px;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
}

.back-btn-movie {
    font-size: 16px;
    display: flex;
    position: absolute;
    background: none;
    top: 10px;
    left: 10px;
    border: solid 1px #27272a;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    height: 40px;
    padding-right: 10px;
    margin-bottom: 0;
    transition: ease-in-out 0.1s;
}

.back-btn {
    font-size: 16px;
    display: flex;
    position: relative;
    background: none;
    top: -5px;
    left: 0px;
    border: solid 1px #27272a;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    height: 40px;
    padding-right: 10px;
    margin-bottom: 0;
    transition: ease-in-out 0.1s;
}

.back-btn span {
    margin-right: 5px;
}

.back-btn:hover {
    background: #27272a;
    cursor: pointer;
}

.back-btn:active {
    background: rgb(80, 80, 80);
    cursor: pointer;
}

.back-btn i {
    vertical-align: middle;
    transform: translateY(-2px);
}

.back-btn-movie span {
    margin-right: 5px;
}

.back-btn-movie:hover {
    background: #27272a;
    cursor: pointer;
}

.back-btn-movie:active {
    background: rgb(80, 80, 80);
    cursor: pointer;
}

.back-btn-movie i {
    vertical-align: middle;
    transform: translateY(-2px);
}

.jw-icon.jw-button-image.jw-button-cover.jw-reset {
    display: none;
}


.player-screen {
    background: #000000;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.show-title {
    background: #292929;
    color: #fff;
    margin-left: 70px;
    margin-right: 70px;
    align-self: flex-start;
    padding-left: 5px;
    padding-right: 30px;
    margin-bottom: 10px;
    max-width: 70%;
    border-radius: 5px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.show-title h1 {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    align-self: flex-start;
}

.series-viewer {
    background: #292929;
    color: #fff;
    margin: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.series-viewer h2 {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    align-self: flex-start;
}

.button-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.ep-btn {
    margin: 5px;
    width: 260px;
    height: fit-content;
    text-wrap: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: none;
    background: #434343;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    transition: ease-in-out 0.1s;
}

.button-holder-ep {
    display: flex;
    padding: 0px;
    width: 100%;
    justify-content: end;
}

.button-holder-ep button {
    margin: 5px;
    width: 260px;
    height: 30px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: none;
    background: #434343;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    transition: ease-in-out 0.1s;
}

.button-holder-ep button:hover {
    background: #333;
    cursor: pointer;
}

.button-holder-ep button:active {
    background: rgb(24, 24, 24);
    cursor: pointer;
}

.video-holder {
    background: none;
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    padding-top: 60px;
    max-width: 770px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.episode-title {
    margin: 2px;
}



.video_src {
    width: 100%;
    aspect-ratio: 16/9;
    max-width: 750px;
    border: solid 1px #27272a;
    border-radius: 5px;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    border-radius: 5px;
    padding-top: 10px;
    color: white;
    width: 100%;
}

.information h1 {
    margin: 0;
    padding: 0;
}

.information .flex-row p{
    margin: 0;
    padding: 0;
}

.flex-row {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.plot-movie {
    margin: 0 20px;
}

.ep-image {
    min-width: 200px;
    height: 100px;
    align-self: center;
    transform: translateX(-2px);
    border-radius: 5px 0 0 5px;
    margin-right: 10px;
    background-position: center;
    background-size: cover;
}

.blur-episode {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    transition: ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.681);
}

.episode:hover .blur-episode {
    cursor: pointer;
    opacity: 0;
}

.episode:hover .play-button-episode {
    opacity: 1;
}

.play-button-episode:hover {
    cursor: pointer;
}

.episode.active .blur-episode {
    opacity: 0;
}

.episode.active .play-button-episode {
    opacity: 1;
}

.episode {
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: flex-start;
    border-radius: 5px;
    margin: 10px 0 0 0;
    height: 100px;
    background: black;
    color: white;
    border: solid 1px #27272a;
    transition: ease-in-out 0.3s;
}

.episodes {
    padding-bottom: 60px;
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
}

.player-holder {
    overflow: visible;
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.play-button-episode {
    position: relative;
    opacity: 0;
    color: white;
    top: -50%;
    left: 15px;
    transform: translate(-50%, -50%);
    scale: 1;
    transition: ease-in-out 0.3s;
}

.ep-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding-top: 10px;
    width: 100%;
}

.ep-info p {
    margin: 0;
    padding: 0;
    text-align: left;
}

.small {
    font-size: 10px;
}

.fake-loader {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 0%;
    height: 1px; /* Adjust height as needed */
    background-color: rgb(255, 255, 255); /* Loader color */
    transition: 1s cubic-bezier(0.4, 0.0, 0.2, 1); /* Smooth animation to the right */
}